<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_app/css/style.css' %}">
	<script type="text/javascript" src="{% static 'user_app/js/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'user_app/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'user_app/js/board.js' %}"></script>
</head>
<body>
<div class="container fill">

	<!-- Website navbar -->	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Dashboard</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/">Welcome</a></li>
				<li><a href="/home">Home</a></li>
				<li><a href='/user/{{request.session.user_id}}/edit'>Profile</a></li>
				<li class="active"><a href='/user/{{request.session.user_id}}/board'>Board</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>

	<!-- User information -->
	<h3>{{ user.username }}</h3>
	<p>Registered on: {{ user.created_at.date }}</p>
	<p>User ID: {{ user.id }}</p>
	<p>Email Address: {{ user.email }}</p>
	<p>Description: {{ user.description }}</p>
	<hr>

	<!-- Form to submit a new message -->
	<div id="post_form" style="display: none;">
	<form action="/board/{{user.id}}/post" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="post">Leave a message for {{ user.username }}:</label>
			<textarea name="post" placeholder="Write a message" id="post" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="Post" class="btn btn-success">
		</div>
	</form>
	</div>

	<button style="cursor:pointer" id="post_button" class="btn btn-primary">Leave a new message</button><hr>

	<!-- Show all posts and comments -->
	{% for post in posts reversed %}
		<p><a href="/user/{{post.poster.id}}/board">{{ post.poster.username }}</a> wrote:<span class="pull-right">{{ post.created_at|timesince }} ago</span></p>
		<div class="well">{{ post.post }}</div>

		<div class="col-sm-10 col-sm-offset-1">
		{% for comment in post.comments.all %}
			<p><a href="/user/{{comment.poster.id}}/board">{{ comment.poster.username }}</a> wrote:<span class="pull-right">{{ comment.created_at|timesince }} ago</span></p>
			<div class="well">{{ comment.comment }}</div>
		{% endfor %}
		</div>

		<div id="{{post.id}}" style="display: none;">
		<form action="/board/{{post.id}}/comment" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input type="hidden" name="board" value="{{user.id}}">
				<label for="comment">Leave a comment:</label>
				<textarea name="comment" placeholder="Write a comment" id="comment" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Comment" class="btn btn-success">
			</div>
		</form>
		</div>
		<button style="cursor:pointer" data-comment="{{post.id}}" class="comment btn btn-primary">Leave a new comment</button><hr>
	{% endfor %}

	<!-- Displays flashed messages -->
	{% if messages %}
		<div class="messages">
		{% for message in messages %}
			{% if message.tags == 'success' %}
				<div class="alert alert-success alert-dismissable">
					<a href='' class="close" data-dismiss='alert' aria-label='close'>x</a>
					{{ message }}
				</div>
			{% else %}
				<div class="alert alert-danger alert-dismissable">
					<a href='' class="close" data-dismiss='alert' aria-label='close'>x</a>
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
		</div>
	{% endif %}

</div>
</body>
</html>